<% if Helpers.is_logged_in?(session) %>

<%=@tweet.content%>

<li><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></li>


<form action="/tweets/<%= @tweet.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form> 

  <% else %>
    <%redirect '/login'%>
  <% end %>
